/* Estilos para la sección de productos */
#productos-container {
  flex: 0 0 70%; /* Ajusta el ancho del contenedor de productos según tus necesidades */
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos para la sección del carrito */
#carrito-container {
  flex: 0 0 30%; /* Ajusta el ancho del contenedor de carrito según tus necesidades */
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 5px;
}

/* Estilos específicos para las tarjetas de productos */
#productos-container .card {
  width: 100%; /* Ajusta el ancho de las tarjetas al 100% del contenedor de productos */
  margin-bottom: 10px; /* Ajusta el espacio entre las tarjetas */
}

/* Estilos específicos para las tarjetas del carrito */
#carrito-container .card {
  width: 100%; /* Ajusta el ancho de las tarjetas al 100% del contenedor de carrito */
  margin-bottom: 10px; /* Ajusta el espacio entre las tarjetas */
  
}

.custom-card-body {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.select-style {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 12px;
  width: 200px; /* Ancho personalizado */
  font-size: 16px; /* Tamaño de fuente personalizado */
  color: #333; /* Color de texto personalizado */
}

/* Estilo para la flecha desplegable */
.select-style::after {
  content: "\25BC"; /* Código de la flecha hacia abajo */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Estilo para el hover del select */
.select-style:hover {
  border-color: #007BFF; /* Color del borde al pasar el ratón */
}
