/* Estilo para el carrusel */
#carouselExample {
    max-width: 400px; /* Establece el ancho máximo que desees */
    margin: 0 auto; /* Centra el carrusel horizontalmente en el contenedor */
  }
  
  /* Estilo para las imágenes dentro del carrusel */
  .carousel-inner img {
    max-width: 100%; /* Asegura que las imágenes no se desborden del carrusel */
    height: auto; /* Mantiene la proporción de aspecto original de las imágenes */
  }


  .header__wrapper header {
    width: 100%;
    background: url("/HOME/RECURSOS/Index.jpg") no-repeat 50% 20% / cover;
    min-height: calc(100px + 15vw);
  }
  