.titulo{
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    margin: 5px;
}


.pedidos{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
  
.date-form {
    display: flex;
    flex-direction: column;
}
  
.date-form .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.date-form label {
    margin-right: 10px;
}
  
.date-form .date {
    width: 200px;
    margin: 0;
}
  
.date-form input[type="submit"] {
    background-color: #0074d9;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
  
  
  

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


input[type="date"],
input[type="text"] {
        width: 50%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

input[type="submit"] {
    background-color: rgb(66, 122, 196);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: transparent;
    border: 2px solid rgb(127, 206, 255);
    color:  rgb(127, 206, 255);
        
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
